<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="gplx_vpdk_chinhanhContext" connectionString="Data Source=WIN7-PC;Initial Catalog=gplx_vpdk;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>